{%extends "layout.html"%}
{% block content %}
    
    <div class="services" id="services">
      <div class="services-content d-flex flex-column flex-wrap">
        <div class="section-title">
          <h1>services</h1>
          <span>What we do</span>
        </div>
    
        <div class="services-content-description">
          <div class="box">
            <div class="inner">
              <img src="../static/images/manicure.png">
              <p>manicure</p>
            </div>
          </div>
    
          <div class="box">
            <div class="inner">
              <img src="../static/images/pedicure.png">
              <p>pedicure</p>
            </div>
          </div>
    
          <div class="box">
            <div class="inner">
              <img src="../static/images/makeup.png">
              <p>makeup</p>
            </div>
          </div>
    
          <div class="box">
            <div class="inner">
              <img src="../static/images/hairstyle.png">
              <p>haristyle</p>
            </div>
          </div>

          <div class="box">
            <div class="inner">
              <img src="../static/images/haircut.png">
              <p>haricut</p>
            </div>
          </div>
    
          <div class="box">
            <div class="inner">
              <img src="../static/images/eyebrow design.png">
              <p>eyebrow design</p>
            </div>
          </div>
    
          <div class="box">
            <div class="inner">
              <img src="../static/images/waxing.png">
              <p>waxing</p>
            </div>
          </div>
    
          <div class="box">
            <div class="inner">
              <img src="../static/images/skin cleansing.png">
              <p>skin cleansing</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    {%endblock%}